

<div class="list row">
  <div class="col-md-6">
    <h4>Country List </h4>
    <table class="table">
      <thead>
        <tr>
          <th>IATA Country Code</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flight of flights; let i = index" [class.active]="i === currentIndex" (click)="setActiveFlight(flight, i)">
          <td>{{ flight.iataCountryCode }}</td>
          <td>{{ flight.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <app-flight-details
      [viewMode]="true"
      [currentFlight]="currentFlight"
    ></app-flight-details>
  </div>
</div>
