
<div>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div>
            <label for="iata_country_code">
                IATA Country Code
            </label>
            <input id="iata_country_code" type="text" [(ngModel)]="country.iataCountryCode" name="iata_country_code">
        </div>

        <div>
            <label for="name">
                Name
            </label>
            <input id="name" type="text" [(ngModel)]="country.name" name="name">
        </div>

        <button class="button" type="submit">Submit</button>
    </form>
</div>
